{% extends 'main/base.html' %}

{% block title %}
Страница про нас
{% endblock %}

{% block content %}
<header>
    <h1>Инструкция</h1>
</header>
<div class="container">
    <p>Для использования функции распознавания продукта по фото, выполните следующие шаги:</p>
    <ol>
        <li>Загрузите фотографию товара, который вы хотите распознать.</li>
        <li>Нажмите кнопку "Загрузить" или "Выбрать файл" для загрузки изображения на сервер.</li>
        <li>Дождитесь завершения процесса обработки изображения системой.</li>
        <li>Получите результаты распознавания товара и его классификации.</li>
    </ol>
    <p>Пожалуйста, убедитесь, что изображение товара имеет достаточное качество и четкость для корректной работы алгоритма распознавания.</p>
</div>
{% endblock %}